In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sns

## Data Review and Data Preparing

In [2]:
data = pd.read_csv('data/Sheet_1.csv', encoding="latin1")

In [3]:
data

,response_id,class,response_text,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,response_1,not_flagged,I try and avoid this sort of conflict,NaN,NaN,NaN,NaN,NaN
1,response_2,flagged,Had a friend open up to me about his mental ad...,NaN,NaN,NaN,NaN,NaN
2,response_3,flagged,I saved a girl from suicide once. She was goin...,NaN,NaN,NaN,NaN,NaN
3,response_4,not_flagged,i cant think of one really...i think i may hav...,NaN,NaN,NaN,NaN,NaN
4,response_5,not_flagged,Only really one friend who doesn't fit into th...,,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
75,response_76,not_flagged,"Now that I've been through it, although i'm no...",NaN,NaN,NaN,NaN,NaN
76,response_77,flagged,when my best friends mom past away from od'ing...,NaN,NaN,NaN,NaN,NaN
77,response_78,not_flagged,As a camp counselor I provide stability in kid...,NaN,NaN,NaN,NaN,NaN
78,response_79,flagged,My now girlfriend used to have serious addicti...,NaN,NaN,NaN,NaN,NaN
79,response_80,not_flagged,The one person I ever talked to it was because...,NaN,NaN,NaN,NaN,NaN

In [4]:
data = pd.concat([data["class"],data["response_text"]], axis = 1)
# Sheet_1.drop(["response_id","Unnamed: 3","Unnamed: 4","Unnamed: 5","Unnamed: 6","Unnamed: 7"], axis = 1, inplace = True)

data.dropna(axis = 0, inplace=True)
data

          class                                      response_text
0   not_flagged              I try and avoid this sort of conflict
1       flagged  Had a friend open up to me about his mental ad...
2       flagged  I saved a girl from suicide once. She was goin...
3   not_flagged  i cant think of one really...i think i may hav...
4   not_flagged  Only really one friend who doesn't fit into th...
..          ...                                                ...
75  not_flagged  Now that I've been through it, although i'm no...
76      flagged  when my best friends mom past away from od'ing...
77  not_flagged  As a camp counselor I provide stability in kid...
78      flagged  My now girlfriend used to have serious addicti...
79  not_flagged  The one person I ever talked to it was because...

[80 rows x 2 columns]

I will assign a numeric value to the data in the class column because the model has to be a numeric value during learning.

In [5]:
# not_flagged = 0
# flagged = 1
data['class']=data.loc[:, 'class'].map({'not_flagged':0, 'flagged':1})
data

    class                                      response_text
0       0              I try and avoid this sort of conflict
1       1  Had a friend open up to me about his mental ad...
2       1  I saved a girl from suicide once. She was goin...
3       0  i cant think of one really...i think i may hav...
4       0  Only really one friend who doesn't fit into th...
..    ...                                                ...
75      0  Now that I've been through it, although i'm no...
76      1  when my best friends mom past away from od'ing...
77      0  As a camp counselor I provide stability in kid...
78      1  My now girlfriend used to have serious addicti...
79      0  The one person I ever talked to it was because...

[80 rows x 2 columns]

In [6]:
# information of data
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 80 entries, 0 to 79
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   class          80 non-null     int64
 1   response_text  80 non-null     object
dtypes: int64(1), object(1)
memory usage: 1.9+ KB

In [7]:
# Dataset columns names
data.columns

Index(['class', 'response_text'], dtype='object')

## Natural Language Process (NLP)
### What is the Natural Language Process(NLP)?
#### Natural language processing (NLP) is a branch of artificial intelligence (AI) that enables computers to comprehend, generate, and manipulate human language.

In [8]:
data.head(10)

   class                                      response_text
0      0              I try and avoid this sort of conflict
1      1  Had a friend open up to me about his mental ad...
2      1  I saved a girl from suicide once. She was goin...
3      0  i cant think of one really...i think i may hav...
4      0  Only really one friend who doesn't fit into th...
5      0  a couple of years ago my friends was going to ...
6      1  Roommate when he was going through death and l...
7      1  i've had a couple of friends (you could say mo...
8      0  Listened to someone talk about relationship tr...
9      1  I will always listen. I comforted my sister wh...

### Regular expression operations 
#### In this section, I will clean the non-letter symbols with the Re library. (/, *, -, ',")

This is the fourth data in the column of response_text.