# Therapy Chatbot

The dataset contains 80 user responses, in the response_text column, to a therapy chatbot. Bot said: 'Describe a time when you have acted as a resource for someone else'. User responded. If a response is 'not flagged', the user can continue talking to the bot. If it is 'flagged', the user is referred to help. We are going to predict if it is flagged or not according to users responses.

### Libraries and Utilities

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import re
import nltk
from nltk.corpus import stopwords
nltk.download("stopwords") 
from nltk.stem.wordnet import WordNetLemmatizer


from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB

from wordcloud import WordCloud, STOPWORDS

[nltk_data] Downloading package stopwords to
[nltk_data]     /home/nicholas/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

### Loading Data

In [5]:
data = pd.read_csv("data/Sheet_1.csv",encoding= "latin1" )
# data.drop(["Unnamed: 3","Unnamed: 4","Unnamed: 5",
#            "Unnamed: 6","Unnamed: 7",], axis = 1, inplace =True)
data = pd.concat([data["class"],data["response_text"]], axis = 1)

data.dropna(axis=0, inplace =True)
data.head(10)

         class                                      response_text
0  not_flagged              I try and avoid this sort of conflict
1      flagged  Had a friend open up to me about his mental ad...
2      flagged  I saved a girl from suicide once. She was goin...
3  not_flagged  i cant think of one really...i think i may hav...
4  not_flagged  Only really one friend who doesn't fit into th...
5  not_flagged  a couple of years ago my friends was going to ...
6      flagged  Roommate when he was going through death and l...
7      flagged  i've had a couple of friends (you could say mo...
8  not_flagged  Listened to someone talk about relationship tr...
9      flagged  I will always listen. I comforted my sister wh...

### 0 to Not Flagged and 1 to Flagged

In [6]:
data["class"] = [1 if each == "flagged" else 0 for each in data["class"]]
data.head()

   class                                      response_text
0      0              I try and avoid this sort of conflict
1      1  Had a friend open up to me about his mental ad...
2      1  I saved a girl from suicide once. She was goin...
3      0  i cant think of one really...i think i may hav...
4      0  Only really one friend who doesn't fit into th...

In [7]:
data.response_text[16]

'I have helped advise friends who have faced circumstances similar to mine'

### Regular Expression

We can remove non-letter characters in our text with Regular Expression method.
The lower() methods returns the lowercased string from the given string. It converts all uppercase characters to lowercase. If no uppercase characters exist, it returns the original string.

In [8]:
first_text = data.response_text[16]
text = re.sub("[^a-zA-Z]"," ",first_text)
text = text.lower() 
print(text)

i have helped advise friends who have faced circumstances similar to mine